@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Regular.ttf") format('truetype')
}

body {
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#app {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.background {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    width: 100%;
    transition: background-image 1s;

}

.blur {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(4px); // This be the blur
    height: 100%;
}

h1 {
    text-shadow: 1px 1px 5px #fff;
    margin: 2rem 0 0 0;
    text-align: center;
}

.togglePanel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    flex-wrap: wrap;
}

.toggleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.toggleMusic {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #fff;
    margin: 2rem 1rem 1rem 1rem;
    border-radius: 0.8rem;
    height: 150px;
    width: 150px;
    background-size: cover;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 0.8rem;
        background: rgba(0, 0, 0, 0.5);
        left: 0;
        top: 0;
        transition: all 0.8s;
        opacity: 1;
    }

    &:hover::after {
        opacity: 0;
        z-index: 150;
    }

    &:active::after {
        opacity: 0.5;
        transition: box-shadow 0s;
        box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.5);
        z-index: 150;
    }


}



.toggleIcon {
    background-repeat: no-repeat;
    background-size: cover;
    width: 70px;
    height: 70px;
    z-index: 200;
}

.sunIcon {
    background-image: url('./assets/icons/sun.svg')
}

.snowIcon {
    background-image: url('./assets/icons/cloud-snow.svg')
}

.rainIcon {
    background-image: url('./assets/icons/cloud-rain.svg')
}

.pauseIcon {
    background-image: url('./assets/icons/pause.svg')
}